# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

DocsSamples/DocsSamples.xcodeproj/project.pbxproj

DocsSamples/DocsSamples/AppDelegate.swift

DocsSamples/DocsSamples/Assets.xcassets/AppIcon.appiconset/Contents.json

DocsSamples/DocsSamples/Base.lproj/LaunchScreen.storyboard

DocsSamples/DocsSamples/Base.lproj/Main.storyboard

DocsSamples/DocsSamples/Info.plist

DocsSamples/DocsSamples/ViewController.swift
